<header>
    <ul class="menu">
        <li class="menuItem"><a href="/products">Home</a></li>
        <li class="menuItem"><a href="/products/brand/audi">Audi</a></li>
        <li class="menuItem"><a href="/products/color/black">Negro</a></li>
    </ul>
</header>